.layout {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  max-width: 70%;
  margin: auto;
  top: 0;
  bottom: 0;
}

.start-icon {
  display: inline-flex;
  align-items: center;
  height: 100%;
  animation: leftRight 1.5s ease-in-out infinite both;
  margin-left: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  position: relative;
}

.item {
  margin: 1rem auto;
}

.quote-group {
  flex: 1;
}

.button-group {
  position: sticky;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  top: 46vh;
}

#text {
  font-size: 1.125rem;
}

#author {
  margin-top: 1rem;
  color: gray;
}

@keyframes leftRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (min-width: 640px) {
  .container {
    width: 600px;
  }
  .start {
    max-width: 600px;
  }
  .start-icon {
    margin-left: 1rem;
  }
  .button-group {
    top: 47.5vh;
  }
}

.item-enter {
  opacity: 0;
  max-height: 0px;
}
.item-enter-active {
  opacity: 1;
  max-height: 1000px;
  transition: all 500ms ease-in;
}
.item-exit {
  opacity: 1;
  max-height: 1000px;
}
.item-exit-active {
  opacity: 0;
  max-height: 0px;
  transition: all 500ms ease-in;
}
